<nz-table #basicTable [nzData]="clases">
    <thead>
      <tr>
        <th>IDClase</th>
        <th>NombreClase</th>
        <th>IDDocente</th>
        <th>IDNota</th>
        <!--<th>Action</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.IDClase }}</td>
        <td>{{ data.nombreClase }}</td>
        <td>{{ data.IDDocente }}</td>
        <td>{{ data.IDNota }}</td>
        <!--<td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>-->
      </tr>
    </tbody>
  </nz-table>