<div nz-row nzJustify="center" nzAlign="middle">
  <div nz-col nzSpan="24" nzJustify="center">
      <h1>Notas</h1>
  </div>
</div>
<hr>
<div nz-row>
  <div nz-col nzSpan="24"></div><button nz-button nzType="primary" (click)="mostrarModal()">Nueva Nota</button>
</div>
<hr>
<nz-table #basicTable [nzData]="notas">
    <thead>
      <tr>
        <th>IDNota</th>
        <th>Parcial 1</th>
        <th>Parcial 2</th>
        <th>Parcial 3</th>
        <th>Parcial 4</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.IDNota }}</td>
        <td>{{ data.P1 }}</td>
        <td>{{ data.P2 }}</td>
        <td>{{ data.P3 }}</td>
        <td>{{ data.P4 }}</td>
        <td>
          <a (click)="mostrar(data)"><i nz-icon nzType="edit"></i>&nbsp;Modificar</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a nz-popconfirm nzPopconfirmTitle="¿Está seguro de borrar el registro?"
          nzPopconfirmPlacement="bottom" (nzOnConfirm)="eliminar(data.IDNota)" (nzOnCancel)="cancel()"
          nzShape="circle" nzCancelText="No" nzOkText="Si">
          <i nz-icon nzType="delete" nzTheme="outline"></i> Eliminar
        </a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  
<nz-modal [(nzVisible)]="visible" nzTitle="Formulario Notas">
  <ng-container *nzModalContent>
    <form nz-form nzLayout="vertical" (ngSubmit)="guardar()" [formGroup]="formNotas">
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
          <nz-form-item>
              <nz-form-label>ID Nota</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                  <input formControlName="IDNota" nz-input placeholder="Escribe el codigo de la nota" />
              </nz-form-control>
          </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
          <nz-form-item>
              <nz-form-label>Nota parcial 1</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                  <input formControlName="P1" nz-input placeholder="Escribe la nota del parcial 1" />
              </nz-form-control>
          </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
          <nz-form-item>
              <nz-form-label>Nota parcial 2</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                  <input formControlName="P2" nz-input placeholder="Escribe la nota del parcial 2" />
              </nz-form-control>
          </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
          <nz-form-item>
              <nz-form-label>Nota parcial 3</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                  <input formControlName="P3" nz-input placeholder="Escribe la nota del parcial 3" />
              </nz-form-control>
          </nz-form-item>
      </div>
    </div>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">
          <nz-form-item>
              <nz-form-label>Nota parcial 4</nz-form-label>
              <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                  <input formControlName="P4" nz-input placeholder="Escribe la nota del parcial 4" />
              </nz-form-control>
          </nz-form-item>
      </div>
    </div>
  </form>
  </ng-container>
  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="ocultar()">Cancelar</button>
    <button nz-button nzType="default" (click)="guardar()">Guardar</button>
    <button nz-button nzType="default" (click)="actualizar()">Actualizar</button>
  </div>
</nz-modal>